.icon{
	width: 64px;
	height: 64px;

	background-size: cover !important;
}
.icon-48{
	width: 48px;
	height: 48px;
}
.buy{
    background: url(../images/icons/buy.svg);
}
.certified{
	background: url(../images/icons/certified.svg);
}
.clock{
    background: url(../images/icons/clock.svg);
}
.deal{
    background: url(../images/icons/deal.svg);
}
.delivery{
    background: url(../images/icons/delivery.svg);
}
.fire{
    background: url(../images/icons/fire.svg);
}
.mail{
    background: url(../images/icons/mail.svg);
}
.map{
    background: url(../images/icons/map.svg);
}
.money{
    background: url(../images/icons/money.svg);
}
.payment{
    background: url(../images/icons/payment.svg);
}
.personal-info{
    background: url(../images/icons/personal-info.svg);
}
.phone{
    background: url(../images/icons/phone.svg);
}
.pressure{
    background: url(../images/icons/pressure.svg);
}
.quality{
    background: url(../images/icons/quality.svg);
}
.revision{
    background: url(../images/icons/revision.svg);
}
.takeaway{
    background: url(../images/icons/takeaway.svg);
}
.temperature{
    background: url(../images/icons/temperature.svg);
}
.waterheater{
    background: url(../images/icons/waterheater.svg);
}
.wind{
    background: url(../images/icons/wind.svg);
}
